.card-container-scroll {
    display: flex;
    max-width: 150%; 
    height: 25rem;

    margin: 0 2.5rem; 
    margin-top: 1rem; 
    margin-bottom: 3rem; 

    // overflow-y: hidden;
    overflow-y: hidden;
    .card-content {
        margin: 0 auto;
        .info {
            position: relative;
            margin-top: 1rem;
            text-align: center;
            
            span {
                position: absolute;
                margin: -2.2rem  -4rem;


                height: 1.875rem;
                width: 1.875rem;
                background-color: green;
                border-radius: 50%;

            }
        }
        img {
            width: 9.375rem;
            height: 14.0625rem;
            border-radius: 1rem;
            margin-right: 1.2rem;
        }
    }  
}


